#root .container {
  min-height: 100vh;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
.text-green {
  color: #4cbbb9;
}
.text-red {
  color: var(--danger-color);
}

.light-mode {
  transition: 1.5s;
}

.loading-para {
  background: var(--lighter-color) !important;
  color: var(--lighter-color) !important;
  margin-top: 10px;
}

.loading-header {
  background: var(--lighter-color) !important;
  color: var(--lighter-color) !important;
  width: 10rem;
  height: 5rem;
}

.dark-mode {
  background: var(--primary-color);
  transition: 1.5s;

  #navbar {
    background: var(--dark-color);

    .title-wrapper {
      background-color: var(--primary-color);
      color: var(--lighter-color);
    }

    nav ul li a {
      background-color: var(--primary-color);

      &:hover {
        color: var(--primary-color);
        background: var(--lighter-color);
      }
    }
  }

  #today-date {
    background: var(--dark-color);
    color: var(--lighter-color);
    box-shadow: none;

    h2 {
      color: var(--lighter-color);
    }
  }

  #total-cases {
    #country-name {
      color: var(--lighter-color);
    }
    #card-container .card {
      background: var(--dark-color);
      box-shadow: none;
      h2 {
        color: var(--white-color);
      }
      p {
        color: var(--lighter-color);
      }
      .text-green {
        color: #639a67;
      }
      .text-red {
        color: var(--danger-color);
      }
    }
  }

  #btn-container {
    a {
      box-shadow: none;
    }
    a:first-child {
      background: var(--dark-color);
      color: var(--lighter-color);
    }
  }

  #timeline {
    box-shadow: none;
    h2 {
      background: var(--dark-color);
      color: var(--lighter-color);
      border-bottom: 1px solid var(--lighter-color);
    }
    div {
      background: var(--dark-color);
      color: var(--lighter-color);
    }
  }

  #graph {
    color: var(--lighter-color);
    min-height: 100vh;
    #title div a {
      box-shadow: none;
    }
  }
}
